<!DOCTYPE html>
 <html>
  <head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
   <title>Posts</title>
  </head>
 <body>
  <div>
  <h1> All Chitter Posts </h1>
  <img src="<%= url('/images.jpeg')%>" alt="Avatar">
  <p>
  <% @posts.each do |post| %>
    <p class="container"> 
    <%=post.message%>
    <br></br>
    <%=post.time%>
    </p>
    <br></br>
  <% end %>
  </p>
  </div>
 <body>
</html>