<!DOCTYPE html>
 <html>
  <head>
   <title>New Chat</title>
  </head>
 <body>
  <div class="container-2">
    <form action="/posts" method='post'>

     <label for="subject">Enter Message</label>
     <br></br>
     <textarea type='text' name= 'message' placeholder="Write something.." style="height:200px"></textarea>
     <br></br>
     <input type="submit" value="Submit">

    </form>
  </div>
 <body>
</html>
